@import "variables.scss";
.header {
    height: $unit * 7;
    background-color: $color-grey;
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: $unit * 7;
    color: $text-color-socondary;
    &__item {
        border-radius: $border-radius;
        color: $color-secondary;
        background-color: $color-secondary;
        padding: $unit;
        margin-left: $unit;
        font-weight: 700;
        cursor: pointer;
        &_selected {
            background-color: $color-primary;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}